<section class="main navigatorPageMain">
    <div class="conteiner">
        <div class="mainWrapper navigatorPageMainWrapper">
            <div class="innerBorder">
                <ul class="tabList">
                    <li class="tabItem">
                        <button
                            class="tabBtn"
                            type="button"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            [routerLink]="['/navigator']"
                            [queryParams]="{ tab: '0' }"
                        >
                            Income
                        </button>
                    </li>
                    <li class="tabItem">
                        <button
                            class="tabBtn"
                            type="button"
                            routerLinkActive="active"
                            [routerLink]="['/navigator']"
                            [queryParams]="{ tab: '1' }"
                        >
                            Outcome
                        </button>
                    </li>
                    <li class="tabItem">
                        <button
                            class="tabBtn"
                            type="button"
                            routerLinkActive="active"
                            [routerLink]="['/navigator']"
                            [queryParams]="{ tab: '2' }"
                        >
                            Loads
                        </button>
                    </li>
                    <li class="tabItem">
                        <button
                            class="tabBtn"
                            type="button"
                            routerLinkActive="active"
                            [routerLink]="['/navigator']"
                            [queryParams]="{ tab: '3' }"
                        >
                            Investments
                        </button>
                    </li>
                </ul>
                <table class="navigatorPageTable Table">
                    <thead class="TableHead">
                        <tr class="TableHeadTr">
                            <th class="TableHeadTh">Name</th>
                            <th class="TableHeadTh">Acount</th>
                        </tr>
                    </thead>
                    <tbody class="TableBody" [ngSwitch]="urlParamsDate[1]">
                        <ng-template ngSwitchCase="tab=0">
                            <tr
                                class="TableBodyTr"
                                *ngFor="let user of incomeUserType"
                            >
                                <td class="TableBodyTd">
                                    {{ user.name.first }}
                                    {{ user.name.last }}
                                </td>
                                <td class="TableBodyTd">
                                    {{ user.amount }}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template ngSwitchCase="tab=1">
                            <tr
                                class="TableBodyTr"
                                *ngFor="let user of outcomeUserType"
                            >
                                <td class="TableBodyTd">
                                    {{ user.name.first }}
                                    {{ user.name.last }}
                                </td>
                                <td class="TableBodyTd">
                                    {{ user.amount }}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template ngSwitchCase="tab=2">
                            <tr
                                class="TableBodyTr"
                                *ngFor="let user of loanUserType"
                            >
                                <td class="TableBodyTd">
                                    {{ user.name.first }}
                                    {{ user.name.last }}
                                </td>
                                <td class="TableBodyTd">
                                    {{ user.amount }}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template ngSwitchCase="tab=3">
                            <tr
                                class="TableBodyTr"
                                *ngFor="let user of investmentUserType"
                            >
                                <td class="TableBodyTd">
                                    {{ user.name.first }}
                                    {{ user.name.last }}
                                </td>
                                <td class="TableBodyTd">
                                    {{ user.amount }}
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>
            <button class="btnStandart btnMain" type="submit" routerLink="/">
                Go to home
            </button>
        </div>
    </div>
</section>
