<section class="main">
    <div class="conteiner">
        <div class="mainWrapper">
            <div class="mainPerformance">
                <div class="mainPerformance--wrapper">
                    <h2 class="mainTitle">Welcome</h2>
                    <p class="mainText">
                        With supporting text below as a natural lead-in to
                        additional content.
                    </p>
                    <button
                        class="btnStandart btnMain"
                        type="submit"
                        [routerLink]="['navigator']"
                        [queryParams]="{ tab: '0' }"
                    >
                        See transactions
                    </button>
                </div>
                <div class="decorBlock">
                    <p class="decorBlockText">
                        You have <span>100</span> transactions
                    </p>
                </div>
            </div>

            <ul class="cardList">
                <li class="cardItem">
                    <h3 class="cardTitle">123</h3>
                    <p class="cardDescription">Income</p>
                    <button
                        class="btnStandart cardBtn"
                        type="submit"
                        [routerLink]="['navigator']"
                        [queryParams]="{ tab: '0' }"
                    >
                        See all
                    </button>
                </li>
                <li class="cardItem">
                    <h3 class="cardTitle">123</h3>
                    <p class="cardDescription">Income</p>
                    <button
                        class="btnStandart cardBtn"
                        type="submit"
                        [routerLink]="['navigator']"
                        [queryParams]="{ tab: '1' }"
                    >
                        See all
                    </button>
                </li>
                <li class="cardItem">
                    <h3 class="cardTitle">123</h3>
                    <p class="cardDescription">Income</p>
                    <button class="btnStandart cardBtn" type="submit"
                    [routerLink]="['navigator']"
                    [queryParams]="{ tab: '2' }">
                        See all
                    </button>
                </li>
                <li class="cardItem">
                    <h3 class="cardTitle">123</h3>
                    <p class="cardDescription">Income</p>
                    <button class="btnStandart cardBtn" type="submit"
                    [routerLink]="['navigator']"
                    [queryParams]="{ tab: '3' }">
                        See all
                    </button>
                </li>
            </ul>
        </div>
    </div>
</section>
